html {
  height: 100%;
  width: 100%;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  color: white; 
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #121212;  
  margin-bottom: -50px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; /* Subtracting the height of the nav bar from the full viewport height */
}

h1 {
  font-size: 3.5rem;
  font-weight: normal;
  margin: 0;
}

.profile-pic {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  object-fit: cover;
  margin: 40px;
}

.subtitle {
  font-size: 1.75rem;
  font-weight: normal;
  padding: 5px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  font-size: 25px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #0077b5; /* LinkedIn blue */
}

.fab {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip:hover:after {
  content: attr(data-tooltip);
  position: absolute;
  z-index: 999;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 5px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  white-space: nowrap;
}

.tooltip:hover:before {
  content: "";
  position: absolute;
  z-index: 999;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
}
