html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-y: scroll;
  padding-top: 20px; 
  color: white;

}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.5rem;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-size: 2.0rem;
  font-weight: normal;
  margin: 0;;
}

.profile-pic {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  object-fit: cover;
  margin: 40px;
}

.subtitle {
  font-size: 1.75rem;
  font-weight: normal;
  padding: 5px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  font-size: 25px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #0077b5; /* LinkedIn blue */
}

.fab {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip:hover:after {
  content: attr(data-tooltip);
  position: absolute;
  z-index: 999;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 5px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  white-space: nowrap;
}

.tooltip:hover:before {
  content: "";
  position: absolute;
  z-index: 999;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
}

.about,
.portfolio {
  height: 100vh; /* Set the height to be 100% of the viewport */
  position: relative; /* Set the position to relative */
  top: -100vh; /* Move the sections up by 100% of the viewport height */
}

.about {
  background-color: #ccc; /* Set the background color for the about section */
}

.portfolio {
  background-color: #ddd; /* Set the background color for the portfolio section */
}