html{
  scroll-snap-type: y mandatory;
  scroll-padding-top: 60px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #121212;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-y: scroll;
  padding-top: 20px; 
  color: white;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.5rem;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-size: 2.0rem;
  font-weight: normal;
  margin: 0;
}

.about {
  display: flex-column;
  align-items: center;
  text-align: center;
  margin-right: 100px;
}

.profile-pic {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.text-space p{
  line-height: 0.5;
}

.text-space p {
  font-size: 1.1rem;
  text-align: justify;
}

.subtitle {
  font-size: 1.75rem;
  font-weight: normal;
  padding: 5px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  color: white;
  font-size: 25px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #0077b5;
  cursor: pointer;
}

.fab {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip:hover:after {
  content: attr(data-tooltip);
  position: absolute;
  z-index: 999;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 5px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  white-space: nowrap;
}

.tooltip:hover:before {
  content: "";
  position: absolute;
  z-index: 999;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent #333 transparent;
} 

nav {
	padding: 20px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	box-shadow: none;
	background-color: #121212;
}

nav.shadow {
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}
  
nav ul {
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	margin: 0 20px;
}

nav a {
	color: #fff;
	font-size: 1.2em;
	text-decoration: none;
	text-transform: uppercase;
	transition: color 0.3s;
}

nav a:hover {
	color: #0077b5; /* LinkedIn blue */
}

#footer {
  display: flex;
  flex-direction: column; /* change the flex-direction to column */
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #333333;
  font-size: 14px;
}

.contact-me p {
  margin: 0;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-links a {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 300px; /* increase the padding here to push the content down */
  box-sizing: border-box;
  background-color: #121212;
}

.source-link {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  padding-bottom: 2px;
  margin-left: 10px;
}


#footer {
  display: flex;
  flex-direction: column; /* change the flex-direction to column */
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #333333;
  font-size: 14px;
}


.contact-me p {
  margin: 0;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-links a {
  margin-left: 10px;
  color: #fff;
  text-decoration: none;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 300px; /* increase the padding here to push the content down */
  box-sizing: border-box;
  background-color: #121212;
}

.source-link {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  padding-bottom: 2px;
  margin-left: 10px;
}
