.typewriter {
  display: inline-block;
  text-align: left;
  min-width: 700px; 
}

.text-space h2 {
  margin-bottom: 20px;
}

.typewriter p {
  border-right: 0.15em solid white;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.typewriter p:nth-child(1) {
  width: 596.67px;
  animation: type 4s steps(40, end) forwards;
}

.typewriter p:nth-child(2) {
  width: 862.08px;
  opacity: 0;
  animation: type2 4s steps(40, end) forwards;
  animation-delay: 4s;
}

.typewriter p:nth-child(3) {
  width: 746.05px;
  opacity: 0;
  animation: type3 4s steps(40, end) forwards;
  animation-delay: 8s;
}

.typewriter p:nth-child(4) {
  opacity: 0;
  width: 692.84px;
  animation: type4 4s steps(40, end) forwards,
    blink 0.5s step-end infinite alternate;
  animation-delay: 12s;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid white;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid white;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: 0.15em solid white;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type4 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
